<div style="display: flex; flex-direction: column;
height: 400px; width: 500px; margin: 20px;">
<p>เพิ่มสถานที่ท่องเที่ยวใหม่</p>
<label>ชื่อสถานที่</label>
<input type="text" name="name" #name>
<label>รายละเอียดสถานที่</label>
<textarea name="detail" cols="30" rows="10" #detail></textarea>
<label>Url รูปภาพสถานที่</label>
<input type="text" name="url" #url>
<label>เลือกประเทศ</label>
<select name="country" #country>
    <option *ngFor="let country of countries" value="{{ country.idx}}">
        {{country.name}}
    </option> 
</select>

<button (click)="addNew(name.value, detail.value, url.value,+country.value)">
    เพิ่มข้อมูล</button>
<button (click)="close()">Close</button>
</div>